.cart{
font-size:40px;
display: flex;
padding:7px;
color: white;
text-decoration: none;
}
.cart:hover{
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}