#num{
    margin: 5px 10px; 
    font-size: 20px;
    font-family: lato;
}
.cont{
    display: flex;
    justify-content: center;
    margin:20px;
}
.boton1,.boton2{
    font-weight: bold;
    font-size: 20px;
    padding:5px ;
}
.boton1{
    
    background-color: rgb(169, 88, 169);
}
.boton2{

    background-color: rgb(101, 2, 101);
}
.btn1:hover{
 background-color: violet;
}
.btn2:hover{
    background-color: violet;
}
